@{
    ViewBag.Title = "Editor";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editor</title>
    <link href="~/editor/animate.css" rel="stylesheet" />
    <link href="~/editor/swiper.css" rel="stylesheet" />
    <link href="~/editor/index.css" rel="stylesheet" />

</head>
<body>
    <div id="root"></div>
    <script src="~/editor/index.js"></script>
</body>
</html>